In [1]:
import pandas as pd

data=pd.read_csv("Salary.csv")

In [3]:
data.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes

In [7]:
data.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["Position"]=le.fit_transform(data["Position"])
data.head()

   Position  Level  Salary
0         0      1   45000
1         4      2   50000
2         8      3   60000
3         5      4   80000
4         3      5  110000

In [11]:
x=data[["Position","Level"]]
y=data[["Salary"]]

In [18]:
from sklearn.model_selection import train_test_split
X_test,X_train,Y_test,Y_train=train_test_split(x,y,test_size=0.4,random_state=4)

In [22]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(X_train,Y_train)
y_pred=dt.predict(X_test)

In [30]:
from sklearn.metrics import mean_squared_error,r2_score
mse=mean_squared_error(Y_test,y_pred)
print("MSE =",mse)

MSE = 8704166666.666666

In [38]:
r2=r2_score(Y_test,y_pred)
print("R2 = ",r2)

R2 =  0.00752236915036808

In [40]:
dt.predict([[5,6]])

C:\Users\admin\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([110000.])